{% extends 'base.html' %}
{% load static %}
{% block title %}超量收费{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}">
{% endblock %}

{% block content %}
    <form id="diagnosisForm">
        {% csrf_token %}
        <label for="rule_category" class="la">规则类别 :</label>
        <select id="rule_category" name="rule_category" class="rule_category">
            <option value="mz">门诊</option>
            <option value="zy">住院</option>
        </select>
        <label for="projectA" class="pro">输入项目:</label>
        <input type="text" id="projectA" name="projectA" class="input">
        <label for="diagA" class="pro">输入诊断:</label>
        <input type="text" id="diagA" name="diagA" class="input">
        <button type="submit" class="pro">生成</button>
        <p id="text" style="width: 80%" ></p>
    </form>

<!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <button class="copy-button" onclick="copyToClipboard('resultText')">复制</button>
            <p id="resultText"></p>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        document.getElementById('diagnosisForm').addEventListener('submit', function(event) {
            event.preventDefault(); // 阻止表单默认提交行为

            const formData = new FormData(this);
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/myapp/over_level/', true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);
                    if (response.reversed_string) {
                        document.getElementById('resultText').innerText = response.reversed_string;
                        document.getElementById('myModal').style.display = 'block';
                    } else {
                        document.getElementById('resultText').innerText = '没有返回结果';
                        document.getElementById('myModal').style.display = 'block';
                    }
                } else {
                    console.error('Error: ', xhr.statusText);
                }
            };
            xhr.send(formData);

        });

        // 关闭模态框
        const modal = document.getElementById('myModal');
        const span = document.getElementsByClassName('close')[0];
        span.onclick = function() {
            modal.style.display = 'none';
        };

        // 复制到剪贴板
        function copyToClipboard(a) {
            const text = document.getElementById(a).innerText;
            navigator.clipboard.writeText(text).then(() => {
                console.log('复制成功！');
            }).catch(err => {
                console.error('复制失败: ', err);
            });
            const modal = document.getElementById('myModal');
            modal.style.display = 'none';
        }
    </script>
{% endblock %}